In [ ]:
import pandas as pd

In [ ]:
data = pd.read_csv("yellow_tripdata_2021-01.csv.gz", nrows = 100)

In [ ]:
data["tpep_dropoff_datetime"] = pd.to_datetime(data["tpep_dropoff_datetime"])
data["tpep_pickup_datetime"] = pd.to_datetime(data["tpep_pickup_datetime"])

In [ ]:
from sqlalchemy import create_engine

In [ ]:
engine = create_engine('postgresql://root:root@localhost:5432/ny_taxi')

In [ ]:
print(pd.io.sql.get_schema(data, name =" yellow_taxi_data", con = engine))

In [ ]:
df_iter = pd.read_csv("yellow_tripdata_2021-01.csv.gz", iterator=True, chunksize=100000)

In [ ]:
df = next(df_iter)

In [ ]:
df["tpep_dropoff_datetime"] = pd.to_datetime(df["tpep_dropoff_datetime"])
df["tpep_pickup_datetime"] = pd.to_datetime(df["tpep_pickup_datetime"])

In [ ]:
df.head(n = 0).to_sql(name = "yellow_taxi_data", con = engine, if_exists='replace')

In [ ]:
%time df.to_sql(name = "yellow_taxi_data", con  = engine, if_exists = "append")

In [ ]:
from time import time

In [ ]:
while True:
    start_time = time()
    df = next(df_iter)
    
    df["tpep_dropoff_datetime"] = pd.to_datetime(df["tpep_dropoff_datetime"])
    df["tpep_pickup_datetime"] = pd.to_datetime(df["tpep_pickup_datetime"])
    
    df.to_sql(name = "yellow_taxi_data", con  = engine, if_exists = "append")
    
    end_time = time()
    
    print("####Data Chunk Inserted successfuly#####")
    print("Took time %.3f seconds" % (end_time - start_time))